*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", "Areal", sans-serif ;
    margin: 0 auto;
}
.container{
    width: 1130px;
    margin: 0 auto;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}
.header:hover{
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.pixer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_img{
    width: 58.11px;
    height: 20px;
    margin-right: 342px;
}

.header_right{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.header_right_item{
    font-size: 15px;
    line-height: 24px;
    margin-right: 32px;
}

.header_right_item:nth-child(8){
    margin-right: 0;
    
}
.contact{
    margin-right: 24px;
}
.tel_link{
    text-decoration: none;
    display: flex;
    padding: 8px 16px;
    width: 166px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
  
}
.header:hover .tel_link{
    width: 166px;
    height: 40px;
background: #FFFFFF;
border: 3px solid #00BAFC;
box-sizing: border-box;
border-radius: 5px;
color: #00BAFC;
padding: 8px 16px;
align-items: center;
}
.header:hover .tel_number{
    color: #00BAFC;
    width: 128px;
height: 24px;
font-weight: normal;
font-size: 15px;
line-height: 24px;
}
.drop_menu{
    position: absolute;
    list-style-type: none;
    display: none;
 width: 140px;
height: 230px;
left: 680px;
padding: 16px;
background: #FFFFFF;
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
.drop_menu_item{
    
    margin-bottom: 16px;
}
.drop_menu_item:nth-child(5){
   margin-bottom: 0;
}
.xizmat_service:hover + .drop_menu{
    display: block;
}
.xizmat_service:hover +  .drop_menu_item{
    display: block;
}
/* .drop_menu_item:hover{
width: 124px;
height: 40px;
background: #00BAFC;
} */
.drop_link{
   
    height: 24px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;

}

.tel_number{
    width: 128px;
    height: 24px;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}
a{
    text-decoration: none;
}
.nav_link{
    width: 73px;
    height: 24px;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}


/* header end*/



/* main start*/
.section_one{
    padding: 80px 100px;
}
.page_one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 418px;
    background: #FFFFFF;
}
.info_one{
    margin-right: 172px;
}

.info_one_title{
    width: 470px;
    height: 78px;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 16px;
}
.info_one_text{
    width: 465px;
    height: 74px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 16px;
}
.service_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 232px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
}
.service_link:hover{
background: rgba(0, 186, 252, 0.8);
border-radius: 5px;
}
.service_link:checked{
    
background: rgba(0, 186, 252, 0.6);
border-radius: 5px;
}
.servise_text{
    width: 200px;
    height: 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.section_two{
 width: 1130px;
height: 879px;
 padding: 56px 0px;
 background: #FFFFFF;
 margin: 0 auto;
}
.page_two_title{
width: 117px;
height: 31px;
font-weight: bold;
font-size: 24px;
line-height: 130%;
text-align: center;
color: #000000;
margin: 0 auto;
margin-bottom: 16px;

}
.page_two_text{
width: 719px;
height: 48px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #000000;
margin: 0 auto;
margin-bottom: 24px;
}
.service_menu{
    display: flex;
    box-sizing:border-box;
    flex-wrap: wrap;
    list-style-type: none;
  
}
.menu_item{
width: 320px;
height: 260px;
padding: 24px 58.6px;
background: #FFFFFF;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
border-radius: 5px;
margin-right: 70px;
margin-bottom: 48px;
}
.menu_item:hover{
    background: #FFFFFF;
box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
.menu_item:checked{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.menu_item:nth-child(3){
margin-right: 0px;
}
.four{
    margin-left: 193px;
}
.vebsayt_img{
    width: 203px;
height: 130px;
margin-bottom: 16px;
}
.vebsayt_title{
width: 146px;
height: 26px;
font-weight: bold;
font-size: 20px;
line-height: 130%;
text-align: center;
color: #000000;
margin: 0 auto;
margin-bottom: 16px;
}
.vebsayt_text{
width: 95px;
height: 24px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #000000;
margin: 0 auto;
}
.buyurtma_link{
margin-left: 361px;
width: 167px;
height: 40px;
display: inline-block;
background: #00BAFC;
border-radius: 5px;
padding: 8px 16px;
color: #FFFFFF;
margin-right: 16px;
}
.buyurtma_link:hover{
    
background: rgba(0, 186, 252, 0.8);
border-radius: 5px;
}
.buyurtma_link:checked{
    
background: rgba(0, 186, 252, 0.6);
border-radius: 5px;
}
/* .buyurtma_text{
width: 135px;
height: 24px;
display: inline-block;
font-weight: bold;
font-size: 16px;
line-height: 24px;
color: ;
} */

.xizmatlar_link{
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
text-decoration-line: underline;
color: #00BAFC
}
.section_three{
width: 1130px;
height: 1675.81px;
background: #FFFFFF;
padding: 56px 0px;
margin: 0  auto;
}
.page_three_title{
width: 262px;
height: 31px;
font-weight: bold;
font-size: 24px;
line-height: 130%;
margin: 0 auto;
color: #000000;
margin-bottom: 16px;
}
.page_three_text{
width: 719px;
height: 48px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
margin: 0 auto;
text-align: center;
color: #000000;
margin-bottom: 24px;
}
.box_one{
    margin-left: 134px;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.box_one_img{
    width: 300px;
    height: 278px;
    margin-right: 32px;
}
.box_one_title{
width: 277px;
height: 26px;
font-weight: bold;
font-size: 20px;
line-height: 130%;
color: #000000;
margin-bottom: 8px;
}
.box_one_text{
width: 493px;
height: 48px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;

}
.box_two{
    display: flex;
    margin-left: 134px;
    align-items: center;
    margin-bottom: 48px;
}
.taklif{
    margin-right: 38px;
}
.box_two_title{
width: 355px;
height: 26px;
font-weight: bold;
font-size: 20px;
line-height: 130%;
text-align: center;
color: #000000;
margin-bottom: 8px;

}
.box_two_text{
height: 24px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
}
.box_two_img{
width: 300px;
height: 225px;
}
.box_three{
    display: flex;
    margin-left: 134px;
    align-items: center;
    margin-bottom: 48px;
}
.box_three_img{
width: 300px;
height: 259px;
margin-right: 32px;
}
.box_three_title{
width: 303px;
height: 26px;
font-weight: bold;
font-size: 20px;
line-height: 130%;
margin-bottom: 8px;
color: #000000;
}
.box_three_text{
height: 24px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
}
.box_four{
    display: flex;
    margin-left: 134px;
    align-items: center;
    margin-bottom: 48px;
}
.box_four_title{
width: 343px;
height: 26px;
font-weight: bold;
font-size: 20px;
line-height: 130%;
color: #000000;
margin-bottom: 8px;
}
.box_four_text{
height: 24px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
}
.box_four_img{
    margin-left: 70px;
        width: 300px;
        height: 171px;
}
.box_five{
    display: flex;
    margin-left: 134px;
    align-items: center;
    margin-bottom: 48px;
}
.box_five_img{
width: 300px;
height: 232px;
margin-right: 32px;
}
.box_five_title{
width: 264px;
height: 26px;
font-weight: bold;
font-size: 20px;
line-height: 130%;
color: #000000;
margin-right: 8px;
}
.box_five_text{
height: 24px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
}
.box_link{
width: 167px;
height: 40px;
display: inline-block;
background: #00BAFC;
border-radius: 5px;
text-decoration: none;
padding: 8px 16px;
text-align: center;
margin: 0 481.5px;
}
.box_link:hover{
    background: rgba(0, 186, 252, 0.8);
border-radius: 5px;
}
.box_link:checked{
    background: rgba(0, 186, 252, 0.6);
}
.box_link_text{
width: 135px;
height: 24px;
font-weight: bold;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
.box_link:hover{
background: rgba(0, 186, 252, 0.8);
}
.box_link:checked{
    background: rgba(0, 186, 252, 0.6);
}
.section_four{
width: 100%;
height: 543px;
background: #00BAFC;
margin: 0 auto;
padding: 56px 205px 64px 205px;
}
.section_four_title{
width: 203px;
height: 31px;
font-weight: bold;
font-size: 24px;
line-height: 130%;
text-align: center;
color: #FFFFFF;
margin: 0 auto;
margin-bottom: 16px;
}
.section_four_text{
height: 48px;
font-weight: normal;
font-size: 16px;
line-height: 150%;
color: #FFFFFF;
margin: 0 205px;
text-align: center;
margin-bottom: 24px;
}
.infotmation{
    width: 348px;
    height: 304px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 24px;
    margin: 0 auto;
}
.baza{
width: 300px;
height: 56px;
background: #F3F3F3;
border-radius: 5px;
margin-bottom: 16px;

}
.select{
width: 300px;
height: 56px;
background: #F3F3F3;
border-radius: 5px;
margin-bottom: 16px;
padding-left: 16px;
color: #000000;
}
.button{
width: 167px;
height: 40px;
padding: 8px 16px;
background: #00BAFC;
border-radius: 5px;
margin: 0 66px;
border: none;
}
.button_text{
    width: 135px;
height: 24px;
font-weight: bold;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
    
}
.baza::placeholder{
    width: 144px;
height: 24px;
font-weight: normal;
font-size: 16px;
line-height: 150%;
padding-left: 16px;

color: #000000;

}





/* main end*/


/*footer start*/

.footer{
    
    width: 100%px;
height: 338px;
background: #191919;
padding-top: 56px;
padding-right: auto;
padding-bottom: 56px;
padding-left: 0px;   /* bitta qator qilib bergan edim paddingni olmadi */
}
.footer_var{
    display: flex;
}
.footer_menu_one{
  margin-right: 100px;
}
.footer_menu_one_title{
width: 149px;
height: 26px;
font-weight: bold;
font-size: 20px;
line-height: 130%;
color: #FFFFFF;
margin-bottom: 16px;
}
.footer_menu_one_text{
width: 320px;
height: 120px;
font-weight: normal;
font-size: 16px;
line-height: 150%;
color: #FFFFFF;
}
.footer_menu_two{
    margin-right: 87px;
    list-style-type: none;
}
.footer_menu_two_title{
width: 143px;
height: 26px;
font-weight: bold;
font-size: 20px;
line-height: 130%;
color: #FFFFFF;
margin-bottom: 16px;
}
.footer_menu_two_text{

margin-bottom: 8px;

}
.footer_two_link{
    text-decoration: none;
    height: 24px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
.footer_two_link:hover{
    color: #00BAFC;
}
.footer_two_lin:checked{
    color: #00BAFC;

opacity: 0.6;
}
.footer_menu_three_title{
width: 142px;
height: 26px;
font-weight: bold;
font-size: 20px;
line-height: 130%;
color: #FFFFFF;
margin-bottom:16px ;
}
.footer_img{
    width: 22px;
    height: 24px;
    margin-right: 8px;
}
.footer_menu_three_text{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    
}
.tarmoq_link{
text-decoration: none;
height: 24px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}


.footer_menu_three_text:checked .footer_img{
    
    opacity: 0.6;
}
.footer_menu_three_text:hover .tarmoq_link{
    color: #00BAFC;
}
.footer_menu_three_text:checked .tarmoq_link{
    color: #00BAFC;
    opacity: 0.6;
}